## Steps in this notebook Task 61

- Step 1: importing dataframe
- Step 2: Wrangling dataframe
- Step 3: chekcing for consistency
- Step 4: deleting unnecessary entries
- Step 5: creating new EU Region column

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

## Step 1. Importing Dataframes

In [2]:
# Creating path
path =r'/Users/parvinrahimi/Desktop/Data/Data Immersion/Achievement 6/Violence'

In [3]:
# Importing dataframes
df_v = pd.read_csv(os.path.join(path, '02 Data','Original Data','violence original data.csv'))

## Step 2. Wrangling the Dataframe

In [4]:
df_v.head()

,Indicator Name,Indicator Code,Country Name,Country Code,Year,Value
0,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2022,1.0
1,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2021,1.0
2,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2020,1.0
3,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2019,1.0
4,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2018,1.0

In [5]:
# describe dataframe
df_v.describe()

               Year         Value
count  67807.000000  67807.000000
mean    2003.399177     10.398326
std       13.163188     19.263239
min     1970.000000      0.000000
25%     1997.000000      0.000000
50%     2006.000000      1.262381
75%     2014.000000     10.700000
max     2022.000000    204.331133

In [6]:
# datatypes of dataframe
df_v.dtypes

Indicator Name     object
Indicator Code     object
Country Name       object
Country Code       object
Year                int64
Value             float64
dtype: object

In [7]:
# changing the type of column year to string for consistency reasons
df_v['Year'] = df_v['Year'].astype('str')

In [8]:
# changing the type of column value to int64 for consistency reasons 
df_v['Value'] = df_v['Value'].astype('int64')

In [9]:
# datatypes of dataframe
df_v.dtypes

Indicator Name    object
Indicator Code    object
Country Name      object
Country Code      object
Year              object
Value              int64
dtype: object

#### Dataframe seems to be consistent

In [10]:
# number of rows and columns
df_v.shape

(67807, 6)

## Step 3. checking the Consistency:

In [11]:
# Check if dataframe contains mixed type columns
for col in df_v.columns.tolist():
  weird = (df_v[[col]].applymap(type) != df_v[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_v[weird]) > 0:
    print (col)

In [12]:
# Finding missing values
df_v.isnull().sum()

Indicator Name    0
Indicator Code    0
Country Name      0
Country Code      0
Year              0
Value             0
dtype: int64

### There are no missing data.

In [13]:
# looking for full duplicates
df_dup = df_v[df_v.duplicated()]

### There are no duplicates.

## Exporting Dataframe

In [14]:
# exporting as pkl
df_v.to_pickle(os.path.join(path, '02 Data', 'Clean Data', 'violence_clean.pkl'))

## Step 4. Deleting Unnecessary Data:

In [15]:
df_v.shape

(67807, 6)

In [16]:
# deleting data before 2000
df_c = df_v [ (df_v['Year'] >= '2000')]

In [17]:
df_c.shape

(48363, 6)

In [18]:
# exporting as pkl
df_c.to_pickle(os.path.join(path, '02 Data', 'Clean Data', 'violence_clean_2000.pkl'))

## Step 5. Creating New Column for Europs Subdivisions

In [19]:
# create a new column 'EU Regions' and define it using for-loops
result = []

for value in df_c["Country Code"]:
  if value == "RUS" or value == "BER" or value == "UKR" or value == "POL" or value == "CZE" or value == "SVK" or value == "HUN" or value == "ROU" or value == "BGR" or value == "MDA" :
    result.append("Eastern Europe")
  elif value == "DEU" or value == "FRA" or value == "NLD" or value == "BEL" or value == "LUX" or value == "AUT" or value == "CHE" :
    result.append("Western Europe")
  elif value == "ISL" or value == "SWE" or value == "NOR" or value == "FIN" or value == "LVA" or value == "EST" or value == "GBR" or value == "LTU" or value == "IRL" or value == "DNK" :
    result.append("Northern Europe") 
  elif value == "ESP" or value == "PRT" or value == "ITA" or value == "GRC" or value == "MLT" or value == "SRB" or value == "BIH" or value == "MKD" or value == "SMR" or value == "HRV" or value == "SVN" or value == "MNE" or value == "ALB" :
    result.append("Southern Europe")
  else:
    result.append("Other")

In [20]:
# Add this column to dataframe
df_c['EU Region'] = result

/var/folders/2m/x4ncpd5d6zn4gz7_m6f16nww0000gn/T/ipykernel_1836/701675352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c['EU Region'] = result

In [21]:
df_c['EU Region'].value_counts(dropna=False)

Other              40658
Southern Europe     2537
Eastern Europe      1924
Northern Europe     1921
Western Europe      1323
Name: EU Region, dtype: int64

In [22]:
# changing the type of column EU Region to string for consistency reasons
df_c['EU Region'] = df_c['EU Region'].astype('str')

/var/folders/2m/x4ncpd5d6zn4gz7_m6f16nww0000gn/T/ipykernel_1836/3250033340.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c['EU Region'] = df_c['EU Region'].astype('str')

In [23]:
# datatypes of dataframe
df_c.dtypes

Indicator Name    object
Indicator Code    object
Country Name      object
Country Code      object
Year              object
Value              int64
EU Region         object
dtype: object

In [24]:
df_c.head()

,Indicator Name,Indicator Code,Country Name,Country Code,Year,Value,EU Region
0,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2022,1,Other
1,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2021,1,Other
2,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2020,1,Other
3,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2019,1,Other
4,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Afghanistan,AFG,2018,1,Other

In [25]:
# exporting as pkl
df_c.to_pickle(os.path.join(path,'02 Data', 'Clean Data', 'violence_clean_EU.pkl'))

In [26]:
# removing non-EU data
EU_Data= df_c[df_c['EU Region'] != 'Other' ]

In [27]:
EU_Data.head()

,Indicator Name,Indicator Code,Country Name,Country Code,Year,Value,EU Region
53,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Albania,ALB,2022,1,Southern Europe
54,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Albania,ALB,2021,1,Southern Europe
55,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Albania,ALB,2020,1,Southern Europe
56,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Albania,ALB,2019,1,Southern Europe
57,Criminal penalties or civil remedies exist for...,SG.PEN.SXHR.EM,Albania,ALB,2018,1,Southern Europe

In [28]:
# exporting as pkl
EU_Data.to_pickle(os.path.join(path,'02 Data', 'Clean Data', 'EU_Data.pkl'))

In [29]:
# exporting as csv
EU_Data.to_csv(os.path.join(path,'02 Data', 'Clean Data', 'EU_Data.csv'))